@model IEnumerable<Storage.Models.Booking>

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Quản Lý Vị Trí</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin/homeAdmin/Index">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Admin/KhuVucAdmin/Index">Khu Vực</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên Người Dùng</th>
                                    <th>Tên Chi Nhánh</th>
                                    <th>Tên Barber</th>
                                    <th>Tên Dịch Vụ</th>
                                    <th>Ngày Hẹn</th>
                                    <th>Giờ Hẹn</th>
                                    <th>Trạng Thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr data-barbers-id="@item.Id">
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Customer.NameCustomer)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ChiNhanh.TenChiNhanh)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Barber.NameBarber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DichVu.TenDichVu)</td>
                                        <!-- Trường hiển thị ngày -->
                                        <td>
                                            @{
                                                if (item.ThoiGianBatDau is DateTime startDate)
                                                {
                                                    @startDate.ToString("dd/MM/yyyy")
                                                }
                                            }
                                        </td>

                                        <!-- Trường hiển thị giờ -->
                                        <td>
                                            @{
                                                if (item.ThoiGianBatDau is DateTime startTime)
                                                {
                                                    @startTime.ToString("HH:mm")
                                                }
                                            }
                                        </td>

                                        <td>
                                            <span>@(item.TrangThai ? "Đã xác nhận" : "Chờ xác nhận")</span>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#add-row').DataTable();
        $(document).ready(function () {
            $('#addRowButton').click(function () {
                $('#add-row').dataTable().fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action
                ]);
                $('#addRowModal').modal('hide');

            });
        });
    </script>
}
